# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
*.db
*.sqlite3
*.joblib

# Node
node_modules/
dist/
build/
.vite/

# Env
.env
.env.local
.env.production

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
